# Ignore node_modules directory in root, frontend, and backend
node_modules/

# Ignore production build directories
dist/
build/
out/

# Ignore environment files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore npm log files
npm-debug.log*

# Ignore frontend and backend build directories
frontend/.next/
backend/dist/
backend/.tscache/

# Ignore frontend and backend environment configuration files
frontend/.env.local
frontend/.env.production.local
backend/.env
backend/.env.production
